<servlet>
    <servlet-name>sign</servlet-name>
    <servlet-class>com.example.guestbook.SignGuestbookServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sign</servlet-name>
<url-pattern>/sign</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>